.content {

  &__left {

    @media screen {
      &::after {
        display: none;
      }
    }
  }

}

.contact {
  line-height: 2rem;

  &__icons {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;


    @media print {
      display: none;
    }
  }

  &__icon {
    position: relative;
    font-size: 1rem;
    float: left;

    & > a > i {
      background-color: $color-right-col-icon-background;
      color: $color-right-col-icon-primary;
      font-size: 1rem;
      text-align: center;
      border-radius: 50%;
      padding-top: 0.5rem;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }

    & > span {
      @include vt-center;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-dark;
  }
}

.interests {
  &__item:nth-child(n+4) {
    text-align: right;
  }

  &__item:nth-child(n+6) {
    text-align: left;
  }
}

.sideSection {
  &__long_item_list > li {
    margin-bottom: 0.5rem;
  }

  &__long_item_list:last-child {
    margin-bottom: 0rem;
  }
}

@media print {
  @page {
    margin: 1rem;
  }
}

.footer {
  height: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  color: darken($color-light, 10%);
  @media print {
    display: none;
  }

  ul {
    list-style: none;

    li {
      display: inline;
      margin-right: 1rem;

      &:not(:last-child):after {
        margin-left: 1rem;
        content: '|';
      }
    }
  }



  a {
    color: darken($color-light, 10%);
    text-decoration: none;

    &:hover {
      color: darken($color-light, 50%);
    }
  }


}