<section class="cv">
    <h2>{{ .Site.Data.employment.name }}</h2>
    {{ range .Site.Data.employment.source }}
    <article>
      <header>
        <h3>{{ .prof }}</h3>
        <span>
          <address>{{ .place }}</address>
          <time>{{ .time }}</time>
        </span>
      </header>
      <p>{{ .description }}
          {{ if .technologies }} <br /><em>Technologies, Tools and Methods:</em>  {{ delimit .technologies ", " }} {{ end }}
        </p>
    </article>
    {{ end }}
  </section>