<IfModule mod_rewrite.c>
RewriteEngine On
RedirectMatch 301 /blog/cross-functional-units-uni-functional-teams/ https://unblocked.engineering/blog/cross-functional-units-uni-functional-teams/
RedirectMatch 301 /blog/just-care-less-about-not-being-aligned/ https://unblocked.engineering/blog/just-care-less-about-not-being-aligned/
RedirectMatch 301 /blog/the-value-of-team-programmings/ https://unblocked.engineering/blog/the-value-of-team-programmings/
RedirectMatch 301 /blog/deployment-process-walls/ https://unblocked.engineering/blog/deployment-process-walls/
RedirectMatch 301 /blog/decoupling-deployments-and-releases/ https://unblocked.engineering/blog/decoupling-deployments-and-releases/
RedirectMatch 301 /blog/adopting-continous-delivery-culture/ https://unblocked.engineering/blog/adopting-continous-delivery-culture/

</IfModule>