<section class="offerings">
    <hr />
    <h4>Level-up your engineering and developer productivity!</h4>
    <p>With <a href="https://unblocked.engineering" target="_blank" title="Unblock your engineering. Steer your company towards Engineering Excellence.">unblocked.engineering</a> I am helping teams and companies to achieve better results in less time and optimize their structures, processes, tools and cultures for the goals they want to achieve.</p>
    <p>As a starter, I am offering <a href="https://unblocked.engineering/#free-coaching" target="_blank" title="Book a free 30-minute coaching">free coaching sessions</a>, if you are unsure, if this is for you.</p>
</section>